name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        node: [12.x, 14.x, 15.x]
      fail-fast: false

    steps:
      - name: Set git to use LF on Windows
        if: matrix.os == 'windows-latest'
        run: |
          git config --global core.autocrlf false
          git config --global core.eol lf

      - name: Checkout
        uses: actions/checkout@v2

      - name: Set node version to ${{ matrix.node }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}

      - name: Versions
        run: yarn versions

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Lint
        if: matrix.os == 'ubuntu-latest' && matrix.node == '14.x'
        run: yarn lint

      - name: Build
        run: yarn build

      - name: Test
        run: yarn jest --ci --silent --reporters=default --reporters=jest-junit

      - name: Upload test artifact
        uses: actions/upload-artifact@v2
        if: ${{ always() }}
        with:
          name: JUnit_${{ matrix.os }}_${{ matrix.node }}_${{ github.sha }}
          path: junit.xml

      - name: Audit dependencies
        run: yarn audit --groups dependencies

      - name: Audit peerDependencies
        run: yarn audit --groups peerDependencies

      - name: Check outdated dependencies
        if: github.ref == 'refs/heads/main'
        run: yarn outdated
